@model IEnumerable<WorkScout.Models.Applicant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CollegeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCompletion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCompletion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicantEmail }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplicantEmail }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicantEmail })
        </td>
    </tr>
}

</table>
