@model IEnumerable<WorkScout.Models.Recruiter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyWebsiteUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyWebsiteUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecruiterEmail }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecruiterEmail }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecruiterEmail })
        </td>
    </tr>
}

</table>
